#bolas{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 20px;
    height: 100px;
}
.bola{
    margin: 0px 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid black;
}
.numero{
    margin: 12px 12px;
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    border: 1px dotted black;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    line-height: 70px;
    text-align: center;
}
#cartones{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.carton{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin:20px;
}
table{
    border: 5px double black;
    border-radius: 15px;
    padding: 10px;
    background-color: darkcyan;
    box-shadow: 7px 7px 35px black;
}
td{
    width: 60px;
    height: 80px;
    border: 1px dotted black;
    border-radius: 10px;
    background-color: bisque;
    
}
td > div{
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button{
    margin: 10px auto;
    width: 175px;
    padding: 15px;
    border-radius: 15px;
    background-color: coral;
    box-shadow: 5px 5px 15px black;
    font-size: 1rem;
    font-weight: bold;
}
#nuevo{
    text-align: center;
}
@media (max-width:800px){
    #bolas{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 20px;
        height: 200px;
    }
    
}
@media (max-width:400px){
    #bolas{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 20px;
        height: 300px;
    }
    #nuevo{
        display: none;
    }
}